* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    height: 600px;
    margin: 10% auto;
    border: 5px solid green;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.6);
}

select {
    appearance: none;
    outline: none;
    margin: 28%;
    padding-right: 3px;
    background-color: transparent;

}

option {
    background-color: transparent;
    box-shadow: none;
    border: none;
}